<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Администрирование</title>
    <link rel="stylesheet"
          href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
          integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T"
          crossorigin="anonymous">
</head>
<body>
<div class="container-fluid my-2">
    <hr>
    <h2 class="navbar navbar-expand-md navbar-dark"> Обновить график платежей </h2>
    <form action="#" th:action="@{/payment_schedules/save_payment_schedule}" th:object="${paymentSchedule}" method="POST">
        <input type="hidden" th:field="*{id}" />
        <input type="hidden" th:field="*{offerOfCredit}" />
        <input type="hidden" th:field="*{balance}" />
        <input type="text" th:field="*{dateOfPayment}" placeholder=" Дата платежа " class="navbar navbar-expand-md navbar-dark">
        <input type="number" th:field="*{amountOfPayment}" placeholder=" Сумма платежа " class="navbar navbar-expand-md navbar-dark">
        <input type="number" th:field="*{amountOfPaymentPerBody}" placeholder=" Сумма гашения тела кредита " class="navbar navbar-expand-md navbar-dark">
        <input type="number" th:field="*{amountOfRepaymentPercent}" placeholder=" Сумма гашения процентов " class="navbar navbar-expand-md navbar-dark">
        <button type="submit" class="navbar navbar-expand-md navbar-dark"> Обновить график платежей </button>
    </form>
    <hr>
    <a th:href="@{/}" class="navbar navbar-expand-md navbar-dark"> Дом </a>
</div>
</body>
</html>
