<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
</head>
<head>
    <meta charset="UTF-8">
    <title>Управление кредитами</title>
    <link rel="stylesheet"
          href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
          integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T"
          crossorigin="anonymous">
</head>
<body>
<div class="container-fluid my-2">
    <hr>
    <h1 class="navbar navbar-expand-md navbar-dark">Создание кредита</h1>
    <form action="#" th:action="@{/credits/save_credit}" th:object="${credit}" method="POST">
        <input type="hidden" th:field="*{bank}" />
        <div style="color:red" th:if="${#fields.hasErrors('typeOfCredit')}" th:errors="*{typeOfCredit}">Название кредита ошибка</div>
        <input type="text" th:field="*{typeOfCredit}" placeholder="Название кредита" class="navbar navbar-expand-md navbar-dark">
        <div style="color:red" th:if="${#fields.hasErrors('limitOfMoney')}" th:errors="*{limitOfMoney}">Лимит по кредиту ошибка</div>
        <input type="number" step="0.01" min="0" th:field="*{limitOfMoney}" placeholder=" Лимит по кредиту " class="navbar navbar-expand-md navbar-dark">
        <div style="color:red" th:if="${#fields.hasErrors('creditPercentage')}" th:errors="*{creditPercentage}">Проц ставка ошибка</div>
        <input type="number" step="0.01" min="0" th:field="*{creditPercentage}" placeholder=" Процентная ставка " class="navbar navbar-expand-md navbar-dark">
        <button type="submit" class="navbar navbar-expand-md navbar-dark"> Создать кредит</button>
        <a th:href = "@{/credits/credits_list/{id}(id=${credit.bank.id})}" class="btn btn-danger"> Назад </a>
        <a th:href="@{/}" class="btn btn-danger">Выход</a>
    </form>
    <hr>

</div>
</body>
</html>