<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title> Кредитные предложения </title>
    <link rel="stylesheet"
          href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
          integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T"
          crossorigin="anonymous">
</head>
<body>
<div class="container-fluid my-2">

    <h2 class="navbar navbar-expand-md navbar-dark"> Обновить кредитное предложение </h2>


    <form action="#" th:action="@{/credit_offers/save_credit_offer}" th:object="${offerOfCredit}" method="POST">
        <div style="color:red" th:if="${#fields.hasErrors('credit')}" th:errors="*{credit}">Кредит ошибка</div>
        <select  th:value="${offerOfCredit}" name=" Кредитное предложение " class="navbar navbar-expand-md navbar-dark" th:field="*{credit}">
            <option value="" selected="selected" class="navbar navbar-expand-md navbar-dark"> Выбор кредита </option>
            <option th:each="credit : ${offerOfCredit.getBank().getListOfCredits()}" th:value="${credit.id}" th:text="${credit}" th:selected="${credit.id}"></option>
        </select>
        <br>
        <input type="hidden" th:field="*{id}" />
        <input type="hidden" th:field="*{bank}" />
        <input type="hidden" th:field="*{client}" />
        <input type="hidden" th:field="*{sumOfPercent}" />
        <input type="hidden" th:field="*{scheduleOfPayment}" />
        <br>
        <div style="color:red" th:if="${#fields.hasErrors('nameOfCredit')}" th:errors="*{nameOfCredit}">Название кредита ошибка</div>
        <input type="text" th:field="*{nameOfCredit}" placeholder=" Название кредита" class="navbar navbar-expand-md navbar-dark">
        <div style="color:red" th:if="${#fields.hasErrors('sum')}" th:errors="*{sum}">Сумма кредита ошибка</div>
        <input type="number" th:field="*{sum}" placeholder=" Сумма кредита " class="navbar navbar-expand-md navbar-dark">
        <div style="color:red" th:if="${#fields.hasErrors('creditTerm')}" th:errors="*{creditTerm}">Срок кредита ошибка</div>
        <input type="number" th:field="*{creditTerm}" placeholder=" Срок кредита " class="navbar navbar-expand-md navbar-dark">
        <div style="color:red" th:if="${#fields.hasErrors('firstPayment')}" th:errors="*{firstPayment}">Первый платеж ошибка</div>
        <input type="number" th:field="*{firstPayment}" placeholder=" Первый платеж " class="navbar navbar-expand-md navbar-dark">

        <button type="submit" class="navbar navbar-expand-md navbar-dark"> Обновить кредитное предложение </button>
        <a th:href = "@{/credit_offers/credit_offers_list/{id}(id=${offerOfCredit.client.id})}" class="btn btn-danger"> Назад </a>
        <a th:href="@{/}" class="btn btn-danger">Выход</a>
    </form>
    <hr>

</div>
</body>
</html>