<!DOCTYPE html>
<html lang="en" xmlns:th="http://thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Администрирование</title>
    <link rel="stylesheet"
          href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
          integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T"
          crossorigin="anonymous">
</head>
<body>
<div class="container-fluid my-2">
    <h1 class="navbar navbar-expand-md navbar-dark">Добавление нового банка</h1>
    <hr>

    <form action="#" th:action="@{/save_bank}" th:object="${bank}" method="POST">
        <div style="color:red" th:if="${#fields.hasErrors('name')}" th:errors="*{name}">Ошибка имени</div>
        <input type="text" th:field="*{name}" placeholder=" Название банка"  class="navbar navbar-expand-md navbar-dark">
        <button type="submit"  class="navbar navbar-expand-md navbar-dark"> Сохранить </button>
        <a th:href = "@{/bank_list}"  class="btn btn-danger">Назад</a>
    </form>
    <hr>

</div>
</body>
</html>